@import "../../../../../../../scss/variables";

primary-facts-panel {
  display: block;

  .poster-container {
    display: flex;
    margin-bottom: 20px;

    media-image img {
      height: 350px;
      width: auto;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }

    .many-inputs {
      margin-left: 20px;
      flex: 1 1 auto;

      .input-container:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .certification-input-container {
    option, select {
      text-transform: uppercase;
    }
  }
}
