@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

// Apply the theme to your components with proper selector
html {
  @include mat.all-component-themes($light-theme);
}

