@import "variables";

:host {
  white-space: nowrap;
  max-width: 100%;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.custom-menu-item {
  white-space: nowrap;
  border-radius: 4px;
  outline: none;
}

:host-context(.vertical) {
  .custom-menu-item {
    display: block;
    color: var(--be-secondary-text);
    padding: 12px 16px;
    border-left: 4px solid transparent;
    margin-bottom: 8px;
  }

  .active {
    background-color: var(--be-accent-emphasis);
    border-color: var(--be-accent-default);
    color: var(--be-text);
  }

  .text {
    font-weight: 500;
    text-transform: capitalize;
  }
}

:host-context(.horizontal) {
  // might need to scroll sidebar in vertical menus
  overflow: hidden;

  .custom-menu-item {
    display: inline-block;
    padding: 5px 15px;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .router-link-active, .active {
    color: var(--be-accent-contrast);
    background-color: var(--be-primary-lighter);
  }
}

:host-context(.color-accent) {
  .router-link-active, .active {
    color: var(--be-accent-contrast);
    background-color: var(--be-accent-emphasis);
  }
}

:host-context(.compact) {
  .text {
    display: none;
  }
}
